/* Reset background color for the entire page */
html,
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
  background-color: white;
}

.game-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
  padding: 40px;
}

.left-panel {
  flex: 4;
  display: flex;
  text-align: left;
}

.middle-panel {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.right-panel {
  display: flex;
  flex: 2;
  text-align: right;
  margin-left: 100px;
}
